h1 {
  font-size: 30px;
}
button {
  background: #fdffcd;
  border: solid 1px grey;
  border-radius: 3px;
  line-height: 25px;
  padding: 1px 6px;
  position: relative;
  right: 50px;
}
footer {
  max-width: 600px;
  margin: 5px auto;
  padding-left: 15px;
  font-size: 13px;
}
.weather-app {
  font-family: "Comfortaa", cursive;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
  max-width: 600px;
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
}

.body {
  margin-top: 40px;
}
.weather-icon-today {
  font-size: 100px;
}
.current-temperature,
.active {
  font-size: 40px;
}

#celcius-link,
#fahrenheit-link {
  text-decoration: none;
}

#fahrenheit-link {
  font-size: 20px;
  border-left: solid 0.5px;
  padding-left: 5px;
  position: relative;
  top: -16px;
}
.weather-info {
  font-size: small;
}
.weather-description {
  font-size: 20px;
}
.last-update {
  font-size: small;
  margin-top: 10px;
}
.current-date-time {
  font-size: 16px;
}
