h1 {
  font-size: 30px;
}
button {
  background: #fdffcd;
  border: solid 1px grey;
  border-radius: 3px;
  line-height: 25px;
  padding: 1px 6px;
  position: relative;
  right: 50px;
}
footer {
  max-width: 600px;
  margin: 5px auto;
  padding-left: 15px;
  font-size: 13px;
}
.weather-app {
  font-family: "Comfortaa", cursive;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
  max-width: 600px;
  display: block;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
}

.body {
  margin-top: 40px;
}
#current-icon {
  width: 130px;
  position: relative;
  top: -20px;
}

#current-temperature {
  font-size: 40px;
  color: #212529;
}
.weather-info {
  font-size: small;
}

.last-update {
  font-size: small;
  margin-top: 10px;
}
#weather-description {
  font-size: 20px;
}
#current-date-time {
  font-size: 16px;
}

#weekly-weather {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 15px;
}

.forecast-temp {
  font-size: 12px;
}
